*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
}
.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
    gap: 40px;
}
